body {
	margin: 0px;
	background-color: #c8ab99;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	margin: 0.3em;
}

canvas {
	box-shadow: 0px 0px 10px #0005;
	background-color: #999;
}

#details {
	margin: auto;
	max-width: 800px;
}
